body 
{
	background: #111 url(layout/noise.png);
	color: #000;
	margin: 0px;
	padding: 0px;
}

img
{
	border:none; 
}

#divMain
{
	background: #fff url(layout/bg.jpg) no-repeat;
	display: block;
	float: none;
	clear: both;
	width: 1200px;
	min-height: 700px;
	padding: 0px;
	margin: 0px auto 40px auto;
	box-shadow: 0px 0px 20px 0px #000;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}